[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pylint = "*"
tabulate = "*"

[packages]
pandas = "*"
scikit-learn = "*"
scipy = "*"
sklearn = "*"
seaborn = "*"
jinja2 = "*"

[requires]
python_version = "3.8"
